footer{
    background-color: #09101d;
    color: #fff;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 8%;
    padding-right:8%;
    align-items: flex-start;
    font-family: Arial, Verdana, Georgia y Times New Roman;   
    }
.footer{
        margin-bottom: 10vh ;
    }
.parteizquierda{
    width: 300px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px
}
.contactenos{        
    font-size: 40px; 
}

.contacto{   
    text-align: left;
    margin-top: 30px;
    gap:20px;
    font-size: clamp(15px, 100%, 35px);
}
p{
    margin-top: 20px;
}
.partecentral{
    width: 300px;
}
.cajacategorias{
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.categorias{    
    font-size: 40px; 
    }
    
.lista{
    text-decoration:  none;
    color: white;
    margin-top: 30px;  
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: start;

}
.listacategorias{
    justify-content: left;
    list-style-position: inside;
    padding: 0;
    text-align: left;  
}
a{
    text-decoration: none;
    color: white;
}
.partederecha{
        width: 500px;
        margin-top: 50px;
        justify-content: center;
        align-items: center;   
}
.RedesSociales{   
        font-size: 40px; 
        margin-bottom: 20px;
    }
   
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-bottom: 200px;
    flex-direction: column;
}
.social{
    display: flex;
    width: 100;
    height: 90px; 
    justify-content: center;  
}
.social p{
    font-size: 30px;    
}
.social img{
    height: 60px;
}
@media (max-width:700px ){
    .RedesSociales{
        font-size: 30px;
    }
    .categorias{
        font-size: 30px;
    }
    .contactenos
    {
        font-size: 30px;
    }
}